@charset "UTF-8";

#inus_CmContent.comment-input{
   width:89%;
   height:50px;
   float:left;
}
.comment-sbox{
   border-top:1px solid #ccc;
   
}
.comment-name{
   height:0px;
}
.regBtn{
   color:#59acff;;
}
input#Comment_regist {
    height: 50px;
    width: 10%;
    cursor: pointer;
    border:none;
    background:#fff;
}

input:focus{
   outline:none;
}

#inus_CmWriter{
   width:15%;
   height:30px;
   float:left;
   margin-left:15px;
}
.comment-boxx{
   margin-bottom:5px;
}
#inus_CmContent{
   width:70%;
   float:left;
}
input#CommentDeleteBtn {
    height:30px;
    width: 10%;
    cursor: pointer;
    border:none;
    background:#fff;
    clear:both;
    margin-bottom: 5px;
    
}